{{ template "theme/partials/head.html" . }}
	<body class="theme-base-0b layout-reverse">
		<main class="content container" role="main">
			<ul class="posts">
				{{ range .Data.Pages }}
				<li>
					<a href="{{ .Permalink }}">{{ .Title }}</a>
					<time class="pull-right post-list" datetime="{{ .Date.Format "2006-01-02 15:04:05Z" }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
					<p class="summary">{{ .Summary }}</p>
				</li>
				{{ end }}
			</ul>
		</main>
{{ template "theme/partials/sidebar.html" . }}
	</body>
</html>
