{{ template "theme/partials/head.html" . }}
	<body class="theme-base-0b layout-reverse" itemscope itemtype="http://schema.org/Blog">
		<main class="content container" role="main">
			<h1 class="page-title">{{ .Title }}</h1>
			<ul class="posts">
				{{ range .Data.Pages }}
				<li itemscope itemtype="http://schema.org/BlogPosting">
					<a class="post-title" itemprop="url" href="{{ .RelPermalink }}"><span itemprop="name">{{ .Title }}<span></a>
					<time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">{{ .Date.Format "Monday, 2 January 2006" }}</time>
					<p class="summary">{{ .Summary }}</p>
				</li>
				{{ end }}
			</ul>
		</main>
{{ template "theme/partials/sidebar.html" . }}
	</body>
</html>
