{{ partial "head.html" . }}
	<body class="theme-base-0b layout-reverse" itemscope itemtype="http://schema.org/Blog">
		<main class="content container" role="main">
			<h1 class="page-title">{{ .Title }}</h1>
			<ul class="posts">
				{{ range .Data.Pages }}
				<li itemscope itemtype="http://schema.org/BlogPosting">
					<a class="post-title u-url" itemprop="url" href="{{ .Permalink | replaceRE "/$" "" }}"><span itemprop="name">{{ .Title }}<span></a>
					<time class="post-date" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">{{ .Date.Format "Monday, 2 January 2006" }}</time>
				</li>
				{{ end }}
			</ul>
		</main>
{{ partial "sidebar.html" . }}
	</body>
</html>
