{{ template "theme/partials/head.html" . }}
	<body class="theme-base-0b layout-reverse">
		<main class="content container" role="main">
			<section class="categories">
				<h2>Categories</h2>
				<ul>
					{{ range $key, $value := .Site.Indexes.categories }}
					<li>
						<a href="/categories/{{ $key | urlize }}">{{ $key | title }}</a>
					</li>
					{{ end }}
				</ul>
			</section>
			<section class="recent">
				<h2>Recent Posts</h2>
				<ul>
					{{ range .Data.Pages }}
					<li>
						<a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a>
						<time class="post-date">{{ .Date.Format "Monday, 2 January 2006" }}</time>
					</li>
					{{ end }}
				</ul>
			</section>
		</main>
{{ template "theme/partials/sidebar.html" . }}
	</body>
</html>
