{{ partial "head.html" . }}
	<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}" itemscope itemtype="http://schema.org/Blog">
		<main class="content container" role="main">
			<section class="recent">
				<h2>Recent Posts</h2>
				<ul class="posts">
					{{ range first 10 .Data.Pages }}
					<li itemscope itemtype="http://schema.org/BlogPosting">
						<a class="post-title" itemprop="url" href="{{ .RelPermalink | replaceRE "/$" "" }}"><span itemprop="name">{{ .Title }}</span></a>
						<time class="post-date" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">{{ .Date.Format "Monday, 2 January 2006" }}</time>
					</li>
					{{ end }}
				</ul>
			</section>
		</main>
{{ partial "sidebar.html" . }}
	</body>
</html>
