{{ template "theme/partials/head.html" . }}
	<body class="theme-base-0b layout-reverse">
{{ template "theme/partials/sidebar.html" . }}
		<main class="content container" role="main">
			<div class="posts">
				{{ range .Data.Pages }}
				<article class="post">
					<h1 class="post-title">
						<a href="{{ .Permalink }}">
							{{ .Title }}
						</a>
					</h1>
					<time class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
					{{ .Content }}
				</article>
				{{ end }}
			</div>
		</main>
	</body>
</html>
